<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FootballApp</title>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app">
            <div v-if="currentPage === 'home'">
            <header>
                <h1 class="heading">FootballApp</h1>
                <button @click="currentPage = 'head2head'">Go to Head to Head</button>
            </header>
            <main>
                <article id="table">
                    <table>
                        <h2>League Standings</h2>
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Team</th>
                                <th>Played</th>
                                <th>Wins</th>
                                <th>Draws</th>
                                <th>Losses</th>
                                <th>Goals For</th>
                                <th>Goals Against</th>
                                <th>Goal Difference</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(team, index) in sortedTeams">
                                <td>{{index + 1}}</td>
                                <td>{{ team.name }}</td>
                                <td>{{ team.matches_played }}</td>
                                <td>{{ team.wins }}</td>
                                <td>{{ team.draws }}</td>
                                <td>{{ team.losses }}</td>
                                <td>{{ team.goals_for }}</td>
                                <td>{{ team.goals_against }}</td>
                                <td>{{ calculateGoalDifference(team) }}</td>
                                <td>{{ calculatePoints(team) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
                <article id="news">
                    <h2>News</h2>
                    <div v-for="(newsItem, index) in teamNews" class="news-item">
                        <a href="#" @click="toggleDescription(index)">{{ newsItem.title }}</a>
                        <p v-if="showDescription[index]">{{ newsItem.description }}</p>
                      </div>
                </article>
                <article id="highlights">
                    <h2>Goal Scorers</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player Name</th>
                                <th>Team</th>
                                <th>Goals</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(player, index) in topScorers">
                                <td>{{ index + 1 }}</td>
                                <td>{{ player.name }}</td>
                                <td>{{ player.team }}</td>
                                <td>{{ player.goals }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>Assist Providers</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player Name</th>
                                <th>Team</th>
                                <th>Assists</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(player, index) in topAssists">
                                <td>{{ index + 1 }}</td>
                                <td>{{ player.name }}</td>
                                <td>{{ player.team }}</td>
                                <td>{{ player.assists }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Most Yellow Cards</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player Name</th>
                                <th>Team</th>
                                <th>Yellow Cards</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(player, index) in topYellowCards">
                                <td>{{ index + 1 }}</td>
                                <td>{{ player.name }}</td>
                                <td>{{ player.team }}</td>
                                <td>{{ player.yellow_cards }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>Most Red Cards</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Player Name</th>
                                <th>Team</th>
                                <th>Red Cards</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(player, index) in topRedCards">
                                <td>{{ index + 1 }}</td>
                                <td>{{ player.name }}</td>
                                <td>{{ player.team }}</td>
                                <td>{{ player.red_cards }}</td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </main>
            <footer>
                
            </footer>
        </div>
        <div v-if="currentPage === 'head2head'">
            <div class="head-to-head">
                <h1>Head to Head</h1>
                <h2>Choose two players and compare their stats!</h2>
                <p>Choose players:</p>
                <ul class="team-list">
                    <li v-for="team in teams"> 
                        <button @click="togglePlayersList(team)">
                            {{ team.name }}
                        </button>
                        <ul v-if="team.showPlayersList">
                            <li v-for="player in team.players">
                                <button @click="selectPlayer(player)">
                                {{ player.name }} - {{ player.position }}
                            </button>
                            </li>
                        </ul>
                    </li>
                </ul>
                <button @click="resetHeadToHead();">Reset</button>
                <button @click="currentPage = 'comparePlayers'" v-bind:disabled="!playersChosen">Compare players</button>
                <button @click="goToHomePage();">Return to main page</button>
                <h3>Chosen players:</h3>
                <p>Player One: {{ playerOne.name }}</p>
                <p>Player Two: {{ playerTwo.name }}</p>
            </div>
        </div>
        <div v-if="currentPage === 'comparePlayers'">
            <div class="playerOne">
                <table>
                    <h2>{{ playerOne.name }}</h2>
                    <thead>
                    <tr>
                        
                        <th>Position</th>
                        <th v-if="playerOne.position === 'Goalkeeper'">Clean sheets</th>
                        <th>Goals</th>
                        <th>Assists</th>
                        <th>Yellow Cards</th>
                        <th>Red Cards</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ playerOne.position }}</td>
                            <td v-if="playerOne.position === 'Goalkeeper'"
                            :class=" {highlight: playerOne.clean_sheets > playerTwo.clean_sheets}">
                                {{playerOne.clean_sheets}}
                            </td>
                            <td :class="{ highlight: playerOne.goals > playerTwo.goals }">{{playerOne.goals}}</td>
                            <td :class="{ highlight: playerOne.assists > playerTwo.assists }">{{playerOne.assists}}</td>
                            <td>{{playerOne.yellow_cards}}</td>
                            <td>{{playerOne.red_cards}}</td>
                        

                            
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="playerTwo">
                <table>
                    <h2> {{ playerTwo.name }}</h2>
                    <thead>
                        <tr>
                            <th>Position</th>
                            <th v-if="playerTwo.position === 'Goalkeeper'">Clean sheets</th>
                            <th>Goals</th>
                            <th>Assists</th>
                            <th>Yellow Cards</th>
                            <th>Red Cards</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >{{playerTwo.position}}</td>
                                <td v-if="playerTwo.position === 'Goalkeeper'" 
                                :class=" {highlight: playerTwo.clean_sheets > playerOne.clean_sheets}">
                                    {{playerTwo.clean_sheets}}
                                </td>
                                <td :class="{ highlight: playerTwo.goals > playerOne.goals }">{{playerTwo.goals}}</td>
                                <td :class="{ highlight: playerTwo.assists > playerOne.assists }">{{playerTwo.assists}}</td>
                                <td>{{playerTwo.yellow_cards}}</td>
                                <td>{{playerTwo.red_cards}}</td>
                            
    
                                
                            </tr>
                        </tbody>
                </table>

            </div>
            <button @click="goToHomePage();">Return to main page</button>

                    
        </div>
        </div>
    </body>
    <script src="main.js" defer></script>

</html>