* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /*background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);*/
    background: #f9f9f9;
    background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    /*background: radial-gradient(circle at 10% 20%, rgb(255, 200, 124) 0%, rgb(252, 251, 121) 90%);*/
   
    display: grid;
    
    width: 100%;
    min-height: 100vh;
    background-color: #f9f9f9;
    align-items: stretch;
    font-family: sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 10px;
    
}
#heading {
    
}
#team-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}
.team-icon {
    max-height: 30px;
    margin: 5px;
    transition: transform 0.3s ease;
}
.team-icon:hover {
    transform: scale(1.3);

}
button {
    border-radius: 12px;
    padding: 10px;
    color: black;
    
}
button:hover {
    background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
}
button:focus {
    background-color: green;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto auto;
    grid-gap: 10px;
    align-items: center;
    margin: 50px;
    
    
}
#league-standings, #news, .goals-assists, .cards, .head-to-head, #compare-players {
    width: 100%;
    
    height: 100%;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
    
}
#league-standings table {
    width: 100%;
    height: 100%;
    padding: 20px;   
}
#league-standings th, td {
    font-size: 15px;
    padding: 5px;   
}
.table-icon {
    height: 10px;
}
#news {
    flex: 2;
    padding: 5px;
    
}
.head-to-head {
    

}
.news-item{
    border-bottom: 1px solid #ccc; 
    padding: 20px 0; 
    transition: background-color 0.3s;  
}

.news-item:hover {
    background-color: #f0f0f0; 
}

.news-item h4{
    margin-bottom: 5px;
}

.news-icon {
    width: 15px;
    height: auto;
}

#news .news-item:last-child {
    border-bottom: none;
}

#highlights table {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    
    justify-content: space-evenly;
    width: 100%;
    flex: 1;
}
.highlight {
   background-color: green;
}