* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    width: 100%;
    min-height: 100vh;

    flex-direction: column;
    align-items: stretch;
}
header {
    display: flex;
    flex-direction: row;
    border: solid 1px red;
    justify-content: space-evenly;
    width: 100%;
    flex: 1;
}
main {
    display: flex;
    flex-direction: row;
    border: solid 1px red;
    justify-content: space-evenly;
    width: 100%;
    flex: 2;
}
#table, #news, #highlights {
    border: solid 1px blue;
    width: 100%;
    
}
#table {
    padding: 3px;
}
th, td {
    font-size: 15px;
    padding: 5px;
    text-align: center;
}
td {
    font-size: 15px;
}

.news-item{
    margin-top: 10px;
    margin-bottom: 20px;
}

#highlights table {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    border: solid 1px red;
    justify-content: space-evenly;
    width: 100%;
    flex: 1;
}
